<%= form_with model: @user do |form| %>
    <div>
        <div><%= form.label  :username, "Username" %></div>
        <%= form.text_field :username %>
        <% @user.errors.full_messages_for(:username).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <div><%= form.label :email, "Email" %></div>
        <%= form.email_field :email, placeholder: "exmaple@example.com" %>
        <% @user.errors.full_messages_for(:email).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <div><%= form.label :password, "Password" %></div>
        <%= form.password_field :password %>
        <% @user.errors.full_messages_for(:password).each do |message| %>
            <div><%= message %></div>
        <% end %>
        </div>

    <div>
        <%= form.submit "Update" %>
    </div>
<% end %>